@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Roboto:ital,wght@0,100;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Roboto:ital,wght@0,100;1,400;1,900&display=swap');




body{
    background-color: #E1CA34;
    overflow-x: hidden;
    margin: 0 0;}

header{
    z-index: 1000;
    position: fixed; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0;
    width: 100vw;
    background-color: rgb(37, 37, 37, 0.8);}

header div{padding: 0 5vh}

#logopequena img {width: 13vw;}

nav{font-family: 'roboto', sans-serif;
font-style: italic;
font-weight: 910;}

ul{ padding: 0em 5vw;
    list-style: none;
    display: flex}

li{ font-size: 2.3vh;
    color: white;
    padding: 0 1em}

li a:hover{color: gray}

li a{color: white;
    transition: color 0.3s;
    text-decoration: none;}

h1{font-family: 'roboto', sans-serif;
font-size: 10vh;}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10vh}

button{background-color: black;
    font-family: 'roboto', sans-serif;
    font-style: italic;
    border: none;
    padding: 1vh 1vw;
    border-radius: 10px;
    cursor: pointer;
    font-size: 5vh;
    color: #FFE53B}

button:hover{background-color: gray;}